.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-name {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-description {
    font-size: 0.9em;
    color: #555;
    margin: 10px 0;
}

.product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add spacing between list items */
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 100%; /* Make the navbar span the full width */
}

.navbar {
    width: 100%; /* Ensure the navbar container spans the full width */
}

body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

li {
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
h1 {
    text-align: center;
}

/* Make the search bar bigger */
#product-search {
  width: 400px !important;
  font-size: 1.25rem !important;
  padding: 0.75rem 1rem !important;
}